* {
  font-family: Arial, Helvetica, sans-serif;
}
.containerhomepage {
  display: flex;
}
.sidebar {
  flex: 0.75;
  height: 100vh;
}

.right {
  flex: 4.5;
}

.navigation a {
  color: white;
  font-size: medium;
  text-decoration: none;
  display: block;
}

.navigation a:hover {
  color: black;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
}

.navigation a:focus {
  color: black;
  text-decoration: none;
  background-color: aliceblue;
}
.dashboardcontents {
  display: flex;
  justify-content: space-between;
}

.joborderwrapper {
  background-color: black;
}
